<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<p>
  <strong>Answers:</strong>
</p>

<%= form_with(model: [@question, @answer], local: true) do |f| %>
  <div class="form-group">
    <%= f.label :answer %>
    <%= f.text_area :answer, class: "form-control" %>
  </div>

  <div class="form-group">
    <div class="form-check">
      <%= f.check_box :correct, class: "form-check-input" %>
      <%= f.label :correct, class: "form-check-label"%>
    </div>
  </div>

  <%= f.submit class: "btn btn-primary"%>
<% end %>

<% @answers.each do |answer| %>
  <div class="card my-2">
    <div class="card-body">
      <%= answer.answer %>
      <%= link_to 'Edit', edit_answer_path(answer) %>
      <%= link_to 'Delete', answer_path(answer), method: :delete, data: { confirm: 'Are you sure?' }%>
    </div>
  </div>
<% end %>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', test_path(@question.test) %>
