<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @test.category.title %>
</p>

<p>
  <strong>level:</strong>
  <%= @test.level %>
</p>


<p>
  <strong>author:</strong>
  <%= User.with_role(:author, @test).pluck(:email) %>
</p>


<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>

<p>
  <strong>Questions:</strong>
</p>

<%= form_with(model: [@test, @question], local: true) do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
    <%= f.submit class: "btn btn-primary"%>
  </p>
<% end %>

<% @questions.each do |question| %>
  <div class="card my-2">
    <div class="card-body">
      <%= question.body %>
      <%= link_to 'Show', question_path(question) %>
      <%= link_to 'Edit', edit_question_path(question) %>
      <%= link_to 'Delete', question_path(question), method: :delete, data: { confirm: 'Are you sure?' }%>
    </div>
  </div>
<% end %>
